<ion-header>
  <ion-toolbar>
    <ion-title>{{ pageTitle }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <h2>Welcome to Our App</h2>
  <p>This app showcases routing and device features using Ionic + Angular.</p>

  <ion-item>
    <ion-label position="floating">Type something</ion-label>
    <ion-input [(ngModel)]="userInput" placeholder="e.g. Hello World"></ion-input>
  </ion-item>

  <ion-button expand="block" (click)="updateUserInput('Thanks for testing!')">
    Update Input
  </ion-button>

  <p>Your input: <strong>{{ userInput }}</strong></p>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button routerLink="/home">Home</ion-button>
      <ion-button routerLink="/about">About</ion-button>
      <ion-button routerLink="/contact">Contact</ion-button>
      <ion-button routerLink="/settings">Settings</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>
