<ion-header>
    <ion-toolbar>
      <ion-title>Settings</ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-content class="ion-padding">
    <h2>Device Information</h2>
    <ion-list *ngIf="deviceInfo.platform">
      <ion-item>
        <ion-label>Platform</ion-label>
        <ion-note slot="end">{{ deviceInfo.platform }}</ion-note>
      </ion-item>
      <ion-item>
        <ion-label>Operating System</ion-label>
        <ion-note slot="end">{{ deviceInfo.operatingSystem }}</ion-note>
      </ion-item>
      <ion-item>
        <ion-label>OS Version</ion-label>
        <ion-note slot="end">{{ deviceInfo.osVersion }}</ion-note>
      </ion-item>
      <ion-item>
        <ion-label>Model</ion-label>
        <ion-note slot="end">{{ deviceInfo.model }}</ion-note>
      </ion-item>
    </ion-list>
  </ion-content>
  <ion-footer>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-button routerLink="/home">Home</ion-button>
        <ion-button routerLink="/about">About</ion-button>
        <ion-button routerLink="/contact">Contact</ion-button>
        <ion-button routerLink="/settings">Settings</ion-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-footer>
  
  